@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

/*default settings of the website*/

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
}

.header {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.header img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.header h1 {
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #1a64d6;
}

.header h2 {
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-weight: 400;
}

.Clouds {
    gap: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cloud1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.cloud1__row{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.cloud1__time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.cloud1 h3 {
    font-size: 1.17em;
    font-weight: bold;
    line-height: 30px;
}

 h4 {
    font-size: 18px;
    font-family: monospace;
    font-weight: 200;
    opacity: 0.7;
}

.cloud2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cloud2__row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud2__time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud2 img{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.cloud2 h3 {
    font-size: 1.17em;
    font-weight: bold;
}



.cloud3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cloud3__row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud3__time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud3 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.cloud3 h3 {
    font-size: 1.17em;
    
}



.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.button a:hover {
    background: white;
    color: #1a64d6;
    border: 1px solid #1a64d6;
}

.button a{
    background-color: #1a64d6;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    line-height: 22px;
    display: block;
    transition: all 200ms ease;
    border-radius: 30px;
    padding: 16px 24px;
    cursor: pointer;
}

.button p {
    padding: 15px 0;
    font-size: 20px;
    opacity: 0.7;
    font-family: monospace;
}